<%= turbo_frame_tag dom_id(@person, :thumbnail) do %>
  <p>
    <strong>Address:</strong>
    <%= @person.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @person.phone %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @person.date_of_birth.strftime("%d/%b/%Y") %>
  </p>

  <%= link_to "Show this person", @person %>
<% end %>

<%#
  Wrap the template into a turbo_frame with an ID that is unique to this @person
  target: "_top" - for links inside the turbo_frame to work
%>
